@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@plugin "daisyui" {
   themes: light --default, dark --prefersdark, cupcake;
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;

   --color-primary: #73b21a;
   --color-primary-content: oklch(20% 0.01 240);
   --color-secondary: #6b7280;
   --color-secondary-content: #4b5563;
}

@plugin "daisyui/theme" {
   name: "dark";
   default: true;

   --color-primary: #6cbc3a;
   --color-primary-content: oklch(90% 0.01 240);
   --color-secondary: #9ca3af;
   --color-secondary-content: #9ca3af;
   --color-base-100: oklch(27% 0.01 240);
   --color-base-200: oklch(25% 0.01 220);
}

@theme {
   --font-jost: "Jost", sans-serif;
   --font-source-serif: "Source Serif 4", serif;
   --font-roboto-serif: "Roboto Serif", serif;
   --font-open-sans: "Open Sans", sans-serif;
   --text-4.5xl: 2.625rem;
   --text-1xl: 1.375rem;
}

* {
   font-family: "Poppins", sans-serif;
}

a.active {
   border: 1px solid green;
   border-radius: 8px;
}

.swal-title {
   color: #ff4500; /* Orange-red */
   font-size: 22px;
}

.swal-text {
   color: #555; /* Dark gray */
   font-size: 14px;
}
